################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UltraFaceDetection/v16
/UltraFaceDetection/obj
/UltraFaceDetection.Test/bin/Debug/net5.0
/UltraFaceDetection.Test/obj
